<div class="home-container">
    <!-- Hero Section -->
    <section id="hero" class="hero-section">
        <div class="hero-content">
            <h1>Welcome to CarLynk</h1>
            <p>Discover and rent the perfect car for your next adventure—no middleman, no hassle.</p>
            <p>Browse our wide selection of vehicles to find the ideal car for your needs.</p>
            <p>Save on fees and avoid hidden charges with direct,
            transparent transactions—simple, quick, and tailored to your journey.</p>
            <button><%= link_to "Find Your Perfect Ride", cars_path %></button>
        </div>
    </section>

    

    
    <footer>
       <p>CarLynk &copy; 2024 | Created by Thuthikaran Easvaran</p>
    </footer>
</div>